$dark-gray: #9f9693;
#top_menu > * {
  color: $dark-gray;
}

.small_thumbnail {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border: solid 2px white;
  &:hover {
    border: solid 2px $dark-gray;
  }
}

.brand_name {
  color: white;
  background: black;
  padding: 10px;
}

.store_name{
  border: solid 2px black;
  padding: 8px;
}